:root {
  --white: #f8f8f8;
  
  --gray-100: #d7d7d7;
  --gray-200: #bbbbbb;
  --gray-900: #1A1D23;

  --pink-700: #ff57b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--gray-900);
}

body, input, textarea, select, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}